
header {
    margin-top: 2em;
}

#menu {
    background:#ffffff;
}
#menu img {
    width: 40%;
}

 #menu a {
     color: #393e46;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
}

 .card {
    border: none;
}

body {
    font-family: 'Roboto', sans-serif; 
    color: #393e46; 
}
body p { 
    color: #606470; 
    font-weight: 100;
}

#titulo p {
    font-weight: 300; 
    font-style: italic; 
}

/* ///////////////////////////// */
#reoil01 {
    margin-top: 1em;
    font-weight: 300;   
}

#reoil01 h5{
    font-weight: 500;   
}

#reoil01 p{
    text-align: justify;  
}

 /* ///////////////////////////// */
#reoil02 {
    margin-top: 1em;
    font-weight: 300;   
}

#reoil02 h5{
    font-weight: 500;   
}

#reoil02 p{
    text-align: justify;  
}

#reoil02 img{
    margin-top: 2em; 
    margin-bottom: 2em; 
}





/* REDES SOCIALES */
#redesSociales2 {
    background: #393e46; 
}
#redesSociales2 a {
    font-weight: 200;
    font-size: 15px;
    color: #ffffff;
   
}
#redesSociales2 h2 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2em;

  
}
#redesSociales2 i {
    width: 35%;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff; 
    text-align: right;
}


@media only screen and (max-width: 600px) {
    #menu img {
        width: 30%;
    }
    #titulo h1 {
        font-size: 30px;
    }
    
    }