
header {
    margin-top: 2em;
}
/* BODY */
body p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color:#494949; 
}
/* TITULOS TRABAJOS, SOBRE MI, CONTACTO */
body h2{
    margin-top: 2em;
    margin-left: 17px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color:#bbbbbb; 
    font-weight: 300;
}

/* REDES SOCIALES */
#redesSociales i {
    color: #bbbbbb;
    margin-top: 20%;
    width: 200px;  
}

/* PORTADA-FONDO */
#portada {
    background-image: url(img/portadaB.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

/* NOMBRE */
body h5 {
    margin-left: 17px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color:#494949; 
    font-weight: 500;
}

 /* MENU */
#menu a {
    margin-left: 10px;
    margin-top: 10px;
}
#menu p{
    font-size: 15px;
    text-align: left;
    font-weight: 300;
    color: #bbbbbb;  
}

#menu p:hover {
    background:#494949;
}

/* ESPACIO */
#espacio{
    width:100%;
    height: 90px;
    background: #494949;  
}

/* GROUPIE MERCH */
#groupieMerch{
    margin-left: 17px;
    width: 150%;
    padding: 3em; 
}

#groupieMerch img{
    margin-bottom: 10em;
}

#groupieMerch h5{
    text-align: right;
    color: #494949; 
    font-size: 35px;
}

#groupieMerch p{
    text-align:justify;
    color: #bbbbbb; 
    font-size: 15px;
    
    margin-top: 10px;
}

#groupieMerch button{
    align-items: flex-end;
    font-size: 15px;
    
    margin-top: 10px;
}

#presentacion {
    width: 100%;
    padding: 1em; 
    margin-bottom: 6em;
}

#presentacion p {
    text-align: justify;
}

#habilidades img {
    width: 100px;
    height: 100px;
    margin-top: 5%;
    color: #494949;
 
}
#habilidades h5, p {
text-align: center;
 
}
#pasiones {
    margin-top: 6em;
}
#pasiones img {
    width: 100px;
    height: 100px;
    margin-top: 5%;
    color: #494949;
 
}

#contacto1 {
    width:100%;
    height: 200px;
    background: #494949;  
    margin-top: 6em;
}

#contacto1 h5 {
    font-weight: 300;
    font-size: 20px;
    color: #bbbbbb;
    text-align: center;
}
#contacto1 p {
    font-weight: 300;
    font-size: 15px;
    color: #bbbbbb;
    text-align: center;
}

#otro {
    width:100%;
    height: 70px;
    background: #242323;
}

/* REDES SOCIALES */
#redesSociales2 i {
    color: #bbbbbb;
    width: 50%; 
}



@media only screen and (max-width: 600px) {
    
        
    }












