

#redesSociales i {
    color: #bbbbbb;
    margin-top: 20%;
    width: 200px;
    
}

#espacio{
    width:100%;
    height: 90px;
    
}
/* acerca  */
body h2{
    margin-top: 5px;
    margin-left: 17px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color:#bbbbbb; 
    font-weight: 200;
}
#menu a {
    margin-left: 10px;
    margin-top: 10px;
}
#menu p{

    font-size: 13px;
    text-align: left;
    font-weight: 300;
    color: #bbbbbb;  
}

#menu p:hover {
    background:#494949;
}


/* nombre */
body h5 {
    margin-top: 10px;
    margin-left: 17px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#494949; 
    font-weight: 400;
}

body p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color:#494949; 
}

#trabajos h2 {
    font-weight: 400; 
}

#groupieMerch h2 {
    text-align: right;
    margin-right: 17px;
}

#groupieMerch img {
    margin-left: 17px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    
        
    }












