
header {
    margin-top: 2em;
}

#menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background: #393e46;
    color: #ffffff;
}

#portada {
    background-image: url(img/portadaB.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

#espacio i {
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 20%;

}



/* TITULO TRABAJOS, SOBRE MI, CONTACTO */
body h2{
    margin-top: 7em;
    margin-bottom: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:#a09f9f; 
    font-weight: 400;
}

/* ESPACIO */
#espacio{
    width:100%;
    height: 200px;
    background: #393e46;  
    margin-bottom: 20em;
}
/* TITULO DE PORTAFOLIO */
#portafolio {
    margin-left: 1em;
}

/* <!-- SELECCIÓN DE PORTAFOLIO --> */
#vistaPotafolio {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 20em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #393e46;
    border: none;
}

#vistaPotafolio .card {
    border: none;
}

#vistaPotafolio p {
    text-align: justify;
    font-weight: 100;
    color: #a09f9f;
}

#presentacion .card{
    border: none;
}

#presentacion h3{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom:1%;
    color: #323643;
}

#presentacion h6{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4%;
    color: #606470;
}

#presentacion p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    color: #919190;
}

#presentacion {
    width: 100%;
    padding: 1em; 
    margin-bottom: 6em;
}
/* BOTON CV ///////////////////////////////// */
#bottonCv button{
    border-radius: 4px;
    background-color: #CC1111;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#bottonCv button a{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#bottonCv button a:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#bottonCv button:hover a{
    padding-right: 25px;
}

#bottonCv button:hover a:after{
    opacity: 1;
    right: 0;
}

#bottonCv a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
/* ///////////////////////////////////////////////////////// */


#habilidades {
    margin-bottom: 10em;
    color: #393e46;
 
}

#habilidades .card{
    border: none;
}

#habilidades .fa-hand-holding-heart {
    font-size: 70px;
    color: #CC1111;
    margin-bottom: 10%;
}

#habilidades .fa-toolbox{
    font-size: 70px;
    color: #CC1111;
    margin-bottom: 10%;
}

#habilidades h5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #323643;
    margin-bottom: 5%;
    text-align: justify;
}

#habilidades p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #919190;
    margin-bottom: 5%;
    text-align: justify;

}










#contacto {
    width:100%;
    height: 100px;
    margin-top: 2em;
    background: #cc1111; 
}

#contacto h2 {
    font-weight: 300;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

/* REDES SOCIALES */
#redesSociales2 {
    width:100%;
    height: 300px;
    background: #393e46; 
}
#redesSociales2 h5 {
    font-weight: 200;
    font-size: 15px;
    color: #ffffff;
   
}
#redesSociales2 h2 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2em;

  
}
#redesSociales2 i {
    width: 35%;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff; 
    text-align: right;
}





@media only screen and (max-width: 600px) {
    
        
    }












