
header {
    margin-top: 2em;
}

#menu {
    background:#ffffff;
}

 #menu a {
     color: #393e46;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
 }


#groupieMerchContenido {

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #393e46;
    border: none;
}


#groupieMerchContenido .card {
    border: none;
}


/* GROUPIE MERCH */
#groupieMerchContenido{
  
  
}

#groupieMerchContenido {
    width: 100%;
    padding: 1em; 
    margin-bottom: 6em;
}

#groupieMerchContenido p {
    text-align: justify;
}









/* REDES SOCIALES */
#redesSociales2 {
    background: #393e46; 
}
#redesSociales2 a {
    font-weight: 200;
    font-size: 15px;
    color: #ffffff;
   
}
#redesSociales2 h2 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2em;

  
}
#redesSociales2 i {
    width: 35%;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff; 
    text-align: right;
}





@media only screen and (max-width: 600px) {
    
        
    }












